@import url(https://fonts.googleapis.com/css?family=Raleway)
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans)

body {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1em;
}

#buttonblock {
	padding: 2em;
}

.buttonleft {
	padding: 1.5em;
	margin: 0% 0% 0% 2.5%;
	float: left;
	width: 40%;
	min-width: 350px;
}

.buttonright {
padding: 1.5em;
	margin: 0% 2.5% 0% 0%;
	float: right;
	width: 40%;
	min-width: 380px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.button {
	padding: 1em;
	background: #EEEEEE;
	color: #000000;
	text-decoration: none;
}



main {
	background: #CCFFFF;
	margin: 0 auto;
}

.directions {
	background: #FFFFCC;
}

h1 {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 4em;
	text-align: center;
	padding: .5em;
}

h3 {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 0em 0em .5em 0em;
}

p {
	font-family: 'Raleway'; Arial; Sans-serif;
	font-size: 1em;
}

ul {
	font-family: 'Raleway'; Arial; Sans-serif;
	font-size: 1em;
}