@import url(https://fonts.googleapis.com/css?family=Raleway)
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans)

body {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1em;
}

#buttonblock {
	padding: 2em;
	text-align: center;
}

.buttonleft {
	margin: 1em;
	padding: 1em;
	background: #EEEEEE;
	color: #000000;
	text-decoration: none;
}

.buttonright {
	margin: 1em;
	padding: 1em;
	background: #EEEEEE;
	color: #000000;
	text-decoration: none;
}

#map {
float: left;
width: 50%
}

.directions {
float: right;
width: 50%
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.content {
	display: block;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

h1 {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 4em;
	text-align: center;
	padding: .5em;
}

h2 {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 0em 0em .5em 0em;
}

h3 {
	font-family: 'Josefin Sans'; Arial; Sans-serif;
	font-size: 1.5em;
	padding: 0em 0em .5em 0em;
}

p {
	font-family: 'Raleway'; Arial; Sans-serif;
	font-size: 1em;
}

ul {
	font-family: 'Raleway'; Arial; Sans-serif;
	font-size: 1em;
}

a {
	font-family: 'Raleway'; Arial; Sans-serif;
}